* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table {
    max-width: 1100px;
    margin: 0 auto;
    background-color: beige;
    padding: 20px;
    /* max-height: 100vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
    }
    &__setting {
        display: flex;
        justify-content: space-between;
    }
    &__search {
        &-input {
        }

        &-btn {
            padding: 5px;
        }
    }
    &__sort {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;

        & > * {
            width: 150px;
            padding: 5px 0;
            display: flex;
            justify-content: center;
            border:1px solid black
        }

        &-id {
        }
        &-firstName {
        }
        &-lastName {
        }
        &-email {
        }
        &-phone {
        }
    }
    
    &__content {
    }

    &__pagination {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin: 15px 0;
        align-items: center;

        &-prev {
            width: 25px;
            height: 25px;
            border-radius: 50px;
            border: 1px solid black;

            &:hover {
                background-color: blue;
            }
        }
        &-str {
        }
        &-next {
            width: 25px;
            height: 25px;
            border-radius: 50px;
            border: 1px solid black;

            &:hover {
                background-color: blue;
            }
        }
    }
    

    &__out {
        margin-top: 30px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    flex: 0 1 auto;
    overflow-y: auto;

    &__sorts {
        position: sticky;
        top: 0;
        background: beige;

        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding: 5px 0;

        &-id {
        }
        &-firstName {
        }
        &-lastName {
        }
        &-email {
        }
        &-phone {
        }
    }

    &__sort {
        width: 150px;
        display: flex;
        user-select: none;
        cursor: pointer;

        &-active {
            background-color: red;

            &-wane {
                &::after {
                    content: '▼';
                }
            }
            &-growth {
                &::after {
                    content: '▲';
                }
            }
        }
    }
    
    &__elements {

    }

    &__element {
        cursor: pointer;

        &:hover {
            background: gray;
        }

        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding: 5px 0;

        & > * {
            width: 150px;

        }

        &__element-id {
        }
        &__element-firstName {
        }
        &__element-lastName {
        }
        &__element-email {
        }
    }
}

.out {
    &__info {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        & > * {
            padding: 5px;
            border: 1px solid black;
        }
    }
    &__user {
    }
    &__description {
    }
    &__adres {
    }
    &__city {
    }
    &__shtat {
    }
    &__index {
    }
}
